rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Doimiy (cheksiz) o'qish va yozish ruxsati - 30 kunlik chegara va xatoliklar umuman bo'lmaydi
      allow read, write: if true;
    }
  }
}
